button.menu-button-mobile.m-l-1.btn.btn-primary,
button.menu-button-mobile.m-l-1.btn.btn-primary:hover {
    background-color: transparent !important;
    color: black !important;
    border: none;
    font-size: 1.5rem;
}
.primary-button{
    padding:0.5rem 2rem !important;
    background-color: transparent !important;
    color: inherit !important;
    float: right;
    margin-top: 2rem !important;
}

.primary-btn {
    border-color:var(--yellow) !important;
    background: var(--yellow) !important;
    color: var(--background-color) !important;
    padding: 0.7rem 3rem !important;
    border-radius: 1rem !important;
    font-weight: 600;
    &:hover{
        color: var(--color) !important;
        background-color: transparent !important;
        border: 2px solid var(--color) !important;
    }

}

.secondary-btn {
    border: 2px solid var(--color) !important;
   
    background-color: transparent !important;
    color: var(--color) !important;
  
    padding: 0.7rem 3rem !important;
    border-radius: 1rem !important;
    font-weight: 600;
    width: 100% !important;
    .bag-icon{
        fill: var(--color) !important;
    }
    &:hover{
        color: var(--background-color) !important;

        background: var(--yellow) !important;
       border-color: var(--yellow) !important;
        .bag-icon{
            fill: var(--background-color) !important;
        }
    }

}

input{
    background-color: var(--primary-color11) !important;
}

