.modal.show .modal-dialog {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

:root {
    --product-color4: linear-gradient(156.67deg, rgba(112, 112, 114, 0.4) 0.07%, rgba(100, 97, 113, 0.148) 99.07%);
    --primary-color4: #28303f;
    --product-color2: #b9b8bb;
    --primary-color5: #fff;
    --product-color3: #b9b8bb;
    --primary-color11: #1f1f2c;
    --skin-color:#f5e6d5;
    --red-clr:#ff4050;
}

.b-c-p-c-11 {
    background-color: var(--primary-color11) !important;
}
.red-clr{
    color: var(--red-clr) !important;
}
.b-c-s-c{
    background-color: var(--skin-color) !important;
}
.sc-product {
    background: var(--product-color4);
    border: 1.5px solid var(--primary-color4);
    border-radius: 15px;
    padding: 20px 18.5px 19px 18.5px;

    transition: all 0.3s ease;
}

.sc-product .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2px;
}

.sc-product .top .tag {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--primary-color5);
    transition: all 0.3s ease;
}

.sc-product .top .wish-list {
    width: 40px;
    height: 40px;
    border: 1px solid var(--product-color2);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.sc-product .top .wish-list a {
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    font-size: 16px;
    color: var(--product-color3);
}

.sc-product .features {
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}

.sc-product .features .product-media {
    border-radius: 15px;
    overflow: hidden;
}

.sc-product .features .product-media img {
    width: 100%;
    transition: all 0.3s ease;
}

.sc-product .features .featured-countdown {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    left: 50%;
    top: unset;
    bottom: 24px;
    padding: 4px 17px 4px 17px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 100px;
}

.sc-product .bottom .product-button a {
    display: block;
    text-align: center;
    border-width: 2px;
    font-weight: 700;
    display: block;
    text-align: center;
    border-width: 2px;

    background: transparent;
    border-color: var(--product-color6);
}

.tf-button span {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    position: relative;
}

.sc-product .bottom .product-button a span {
    font-size: 19px;
    vertical-align: middle;
    margin-right: 6px;
}

a.nav.active {
    color: var(--yellow) !important;
}

div#panel1a-header {
    background: var(--primary-color11) !important;
    color: white !important;

    .expand-icon {
        fill: white !important;
    }

    &:hover {
        background: var(--yellow) !important;
        color: black !important;

        .expand-icon {
            fill: black !important;
        }
    }
}

input::placeholder,
textarea::placeholder {
    color: white !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: black !important;
    background: var(--yellow) !important;
    padding: 5px !important;
    font-size: 0.5rem !important;
    border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.5rem !important;
    font-weight: 600;
}

.account-setting:hover {
    background-color: var(--yellow) !important;
    color: black !important;
    fill: black !important;

    .account-setting-icon {
        fill: black !important;
    }
}

a.sidebar.active {
    background-color: var(--yellow) !important;

    color: #000 !important;
    fill: #000 !important;
    width: 100% !important;

    .account-setting-icon {
        fill: black !important;
    }
}

input {
    background-color: var(--primary-color11) !important;
}

.num-100 {
    color: var(--yellow) !important;
}

.bg-image {
    background-image: url(../Image/bg-image.png);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: right top;
}

.sparrow-1 {
    position: absolute;
    bottom: 15%;
    left: 0%;
    right: auto;
    top: auto;
}

.sparrow-2 {
    position: absolute;
    right: 0;
    top: 21%;
}
.current-bid{
    position: absolute;
    left: 0;
    top: 40%;
}
.yellow-clr{
    color: var(--yellow) !important;
}
.b-c-y-clr{
    background-color: var(--yellow) !important;
}

input{
    background-color: var(--primary-color11) !important;
}
th,td,tr,tbody{
    background-color: black !important;
    color: white !important;
}
.bg-vid{
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
}
.history{
    max-height: 15rem !important;
    overflow: auto !important;
}
.css-ttwr4n{
    background-color: var(--yellow) !important;
}
.image-details{
    object-fit: contain !important;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
}
.img-details{
    height: 100% !important;
    width: 1000px !important;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.details-img{
    height: 100%;
    min-height: inherit;
    width: 100%;
    position: relative;
}